In [1]:
def findcount(filepath,s1,s2):
    c=0
    li=[]
    with open(filepath,'r') as f:
        for i in f:
            li.append(f)
        for i in range(len(li)):
            if(str(li).find(s1)):
                d=str(li).find(s1)
                s1.replace(s1,s2)
    return 
findcount('DataFiles/findreplace.txt',"hi","BYE")

In [2]:
c = 'a'
c = 5/2
type(c)

float

In [16]:
name, rollno, age = 'python', 123, 23.5
print(type(name),type(rollno),type(age), end=" ")
#type(rollno)
#type(age)

<class 'str'> <class 'int'> <class 'float'>

In [18]:
a,b = 10,20
a,b = b,a
print(a,b)

20 10

In [19]:
pow(2, 5)

32

In [32]:
lb,ub = map(int,input().split())
def sumsquers(lb, ub):
    sum = 0
    for i in range(lb, ub+1):
        sum = sum + i ** 2
    print(sum)
sumsquers(lb, ub)

1 10
385

* membership operators -> in, not in
* identity operators -> is, is not,  not works for strings comparision
#### conditional control statements
 * conditional statements 
 
      - if,
      - if else, 
      - nested if
      
  * Iterative statements
     
     - while
     - for
     
   * jump statements
   
     - break
     - continue

In [33]:
5 in [1,2,3,4]

False

In [34]:
5 not in [1,2,3,4]

True

In [35]:
5 is 5

True

In [36]:
5 is 10

False

In [37]:
if (5<6):
    print("true")
else:
    print("False")

true

In [40]:
range(10)

range(0, 10)

In [42]:
range(2, 10, 2)

range(2, 10, 2)

In [46]:
for i in range(2, 10, 2):
    print(i, end=" ")

2 4 6 8

In [2]:
num = 1
while num<6:
    print(num)
    num += 1

1
2
3
4
5

In [1]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [3]:
for i in  range(10, 4, -1):
    print(i)

10
9
8
7
6
5

In [4]:
for i in 'hai':
    print(i)

h
a
i

In [5]:
for i in 1:  #1 will not accepted 
    print(i)

TypeError: 'int' object is not iterable

In [6]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [7]:
print(1,2)

1 2

In [8]:
print(1,2, sep=",")

1,2

In [12]:
print(1,2, end=":")

1 2:

In [14]:
print(1,2,sep=",",end="*")
print(3,4,sep=";")

1,2*3;4

In [16]:
n = input("enter value:")
print(n)

enter value:12.3
12.3

In [17]:
1+2

3

In [19]:
1+int("2")

3

In [21]:
num = 10
print(num)
print(Num)

10

NameError: name 'Num' is not defined

In [22]:
l = [1,10,20]
l

[1, 10, 20]

In [23]:
l[1]

10

In [24]:
l[2]

20

In [25]:
l[0]

1

In [26]:
l[3]

IndexError: list index out of range

In [28]:
li = []
li=input()

1 2 3 4

In [4]:
li = input().split()
print(len(li))

12 23 45
3

In [9]:
data = input()
count = 0
for char in data.split(" "):
    count += 1
print(count)

1 2 3 4 5
5

In [10]:
for i in 1,2,3:
    print(i)
print(i)

1
2
3
3

In [3]:
li = input().split(",")
count = 0
sum = 0
for i in li:
    sum = sum + int(i)
    count = count + 1
    
print(sum // count)

1,2,3,4,5
3

In [11]:
li = input()
values = li.split(",")
int_values=list(map(int,values))
sum(int_values)

1,2,3

6

In [6]:
del sum

In [28]:
data = input()
value = data.split("+")
int_value=list(map(int,value))
print(min(int_value))
print(max(int_value))

1+2+3
1
3

In [31]:
n = int(input())
for i in range(1, n+1):
    data = input()
    value = data.split("+")
    int_value=list(map(int,value))
    print(min(int_value))
    print(max(int_value))

3
1+2+3
1
3
1+4+8
1
8
2+5+7
2
7