In [ ]:
f_lname = input()
lname,fname = f_lname,split(" ")[:: -1]
print()

In [1]:
m = input()
m_l = list(map(int,m.split()))
print(sum(m_l)//len(m_l))

90 80 100
90

In [2]:
s = "12345"
s2 = int(s)
print(s2,type(s),type(s2))

12345 <class 'str'> <class 'int'>

In [3]:
s1 = "1"
s2 = '3'
print(int(s1)+int(s2))
print(type(s1))

4
<class 'str'>

#### strings in pyrhon

In [4]:
s = "Pythonprogramming"
print(len(s))

17

In [5]:
s[:: -1]

'gnimmargorpnohtyP'

In [6]:
s[0]

'P'

In [9]:
s[6:]

'programming'

In [10]:
s[:
]

'Pythonprogramming'

In [18]:
s = "python"
print(s)

python

In [19]:
s[::-1]

'nohtyp'

#### String methods

    - str.upper()
    - str.lower()

In [21]:
s = "python"
print(s.upper())
print(s)

PYTHON
python

In [22]:
s = "PYTHON"
print(s.lower())
print(s)

python
PYTHON

#### Str.startswith(sub_string)

In [23]:
s = "python"
print(s.startswith('p'))

True

In [24]:
#567
data = input()
s = data[:: -1]
for i in s:
    print(i, end=" \n")

567
7
6
5

In [26]:
data = input().split()
count = 0
sum = 0
for i in data:
    count = count + 1
    sum = sum + int(i)
print(sum // count)

80 90 100
90

In [8]:
s = "python"
sub = "P"
k = sub.lower()
print(s.startswith(k))

True

In [10]:
s = "python".lower()
sub = "p".upper()
print(s.startswith(sub))

False

In [11]:
s = "python programming"
print(s.startswith("programming"))

False

In [12]:
main = "python programming"
print(main.endswith('ing'))

True

In [13]:
main = "python programming"
print(main.endswith('in'))

False

#### is digit

In [14]:
s = "123"
print(s.isdigit())

True

In [15]:
s = "123abc"
print(s.isdigit())

False

In [16]:
s = input("enter number")
if s.isdigit():
    print("success", int(s))
else:
    print(false)

enter number1234
success 1234

In [17]:
s = "python programming"
result = s.split()
print(result,type(result))

['python', 'programming'] <class 'list'>

#### Str.lstrip()

In [19]:
s = "  aswini kumari "
result = s.lstrip()
print(len(s),len(result),result)

16 14 aswini kumari

In [22]:
s = "  aswinikumari "
result = s.strip() 
print(len(s),len(result),result)

15 12 aswinikumari

#### Str.isupper()

In [23]:
s = "PYTHON"
print(s.isupper())

True

#### str.islower()

In [24]:
s = "python"
print(s.islower())

True

#### str.isalpha()

In [27]:
s = "python"
print(s.isalpha())

True

In [28]:
s = "python123"
print(s.isalpha())

False

In [30]:
s = "pyhonPROGRAMMING"
print(s.swapcase())

PYHONprogramming

#### str.title()

In [31]:
s = "python programming"
print(s.title())

Python Programming

#### str.find(sub_string)

In [32]:
s = "python"
print(s.find('o'))

4

In [1]:
s = "python"
print(s.find('s'))

-1

#### str.replace(old,new)

In [2]:
s = "python"
print(s.replace('n','oon'))

pythooon

In [3]:
s = "python"
print(s.replace('i','jk'))

python

#### str.rfind(sub)

In [5]:
s = "python programming"
print(s.rfind('o'))

9

#### str.index(sub)

In [7]:
s = "python"
print(s.index('o'))

4

In [11]:
s = "python"
print(s.index('t'))

2

#### str.join(sequence   or   collection of items)

In [13]:
s = ['p','y','t','o','n']
print("@".join(s))

p@y@t@o@n

In [14]:
s = ['p','y','t','o','n']
print("".join(s))

pyton

In [16]:
s = "python"
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [17]:
t = 2
n = 5
for i in range(1, n+1):
    print(t,"*",i,"=",t*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

### Python Data Structures

    - List
         -  append',
         - clear',
         - copy',
         -'count',
         -'extend',
         -'index',
         -'insert',
         -'pop',
         -'remove',
         -'reverse',
         '-sort']

In [23]:
li = [1, 'abc', 45.90]
li

[1, 'abc', 45.9]

In [24]:
li.append(89)
li

[1, 'abc', 45.9, 89]

In [25]:
li.insert(2, 34)
li

[1, 'abc', 34, 45.9, 89]

In [26]:
li[1] = 23

In [27]:
li

[1, 23, 34, 45.9, 89]

In [28]:
li[3] = 55

In [36]:
li

[1, 34, 89]

In [33]:
li.pop(3)
li

[1, 23, 34, 89]

In [37]:
li.remove(34)
li

[1, 89]

In [38]:
li.clear()
li

[]

In [39]:
li1 = [1,2,3,4]
li1

[1, 2, 3, 4]

In [41]:
del li1

In [42]:
li1

NameError: name 'li1' is not defined

In [5]:
li = [1,4,5,8,9,3,2,0]
li.sort()
li

[0, 1, 2, 3, 4, 5, 8, 9]

In [6]:
li.sort(reverse = True)
li

[9, 8, 5, 4, 3, 2, 1, 0]

In [7]:
li[::-1]
li

[9, 8, 5, 4, 3, 2, 1, 0]

In [8]:
li.reverse()
li

[0, 1, 2, 3, 4, 5, 8, 9]

In [9]:
cli = li
print(cli, li)

[0, 1, 2, 3, 4, 5, 8, 9] [0, 1, 2, 3, 4, 5, 8, 9]

In [10]:
cli.append(34)
cli

[0, 1, 2, 3, 4, 5, 8, 9, 34]

In [11]:
li

[0, 1, 2, 3, 4, 5, 8, 9, 34]

In [26]:
li.pop()
li

[0,
 1,
 2,
 3,
 4,
 5,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 8,
 9,
 [0, 1, 2, 3, 4, 5, 8, 9, 50],
 [0, 1, 2, 3, 4, 5, 8, 9, 50],
 [0, 1, 2, 3, 4, 5, 8, 9, 50],
 0,
 1,
 2,
 3,
 4,
 5,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 8]

In [25]:
cli

[0,
 1,
 2,
 3,
 4,
 5,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 8,
 9,
 [0, 1, 2, 3, 4, 5, 8, 9, 50],
 [0, 1, 2, 3, 4, 5, 8, 9, 50],
 [0, 1, 2, 3, 4, 5, 8, 9, 50],
 0,
 1,
 2,
 3,
 4,
 5,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 8,
 9]

In [24]:
cli2 = li.copy()
cli2

[0,
 1,
 2,
 3,
 4,
 5,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 8,
 9,
 [0, 1, 2, 3, 4, 5, 8, 9, 50],
 [0, 1, 2, 3, 4, 5, 8, 9, 50],
 [0, 1, 2, 3, 4, 5, 8, 9, 50],
 0,
 1,
 2,
 3,
 4,
 5,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 8,
 9]

In [15]:
li

[0, 1, 2, 3, 4, 5, 8, 9]

In [23]:
cli2.append(50)
print(cli2, li)

[0, 1, 2, 3, 4, 5, 8, 9, 50] [0, 1, 2, 3, 4, 5, 8, 9, 0, 1, 2, 3, 4, 5, 8, 9, [0, 1, 2, 3, 4, 5, 8, 9, 50], [0, 1, 2, 3, 4, 5, 8, 9, 50], [0, 1, 2, 3, 4, 5, 8, 9, 50], 0, 1, 2, 3, 4, 5, 8, 9, 0, 1, 2, 3, 4, 5, 8, 9]

In [22]:
li.extend(cli2)
li

[0,
 1,
 2,
 3,
 4,
 5,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 8,
 9,
 [0, 1, 2, 3, 4, 5, 8, 9],
 [0, 1, 2, 3, 4, 5, 8, 9],
 [0, 1, 2, 3, 4, 5, 8, 9],
 0,
 1,
 2,
 3,
 4,
 5,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 8,
 9]

In [17]:
cli2

[0, 1, 2, 3, 4, 5, 8, 9]

In [20]:
li.append(cli2)

In [1]:
li

NameError: name 'li' is not defined

In [29]:
li1 = [1,2,3,4]
li2 = [5,6,7,8]
li1.append(li2)
li1

[1, 2, 3, 4, [5, 6, 7, 8]]

In [31]:
li1[4][2]

7

In [44]:
li = [1,2,2,3,5,6,5,4]
li

[1, 2, 2, 3, 5, 6, 5, 4]

In [33]:
li.count(1)

1

In [34]:
li.count(2)

2

In [40]:
for i in [8,9,10]:
    li.insert(1,i)
print(li)

[1, 10, 9, 8, 2, 2, 3, 5, 6, 5, 4]

In [45]:
l = [8,9,10][::-1]
for i in l:
    li.insert(1,i)
print(li)

[1, 8, 9, 10, 2, 2, 3, 5, 6, 5, 4]

In [46]:
print(sum(li),max(li),min(li))

55 10 1

In [47]:
l = list()
l

[]

In [4]:
N = int(input())
def summinteger(N):
    for i in range(1, N+1):
        count = 0
        summ = 0
        li = input().split(" ")
        for i in li:  
            count = count + 1
            summ = summ + int(i)
        print(summ)
summinteger(N)

3
1 24
25
1 34
35
1 34 5
40

In [1]:
N = int(input())
def summinteger(N):
    for i in range(1, N+1):
        count = 0
        summ = 0
        li = input().split(" ")
        for i in li:  
            count = count + 1
            summ = summ + int(i)
        print(summ//count)
summinteger(N)

2
4 6
5
6 6 6
6

In [5]:
N = int(input())
for i in range(N):
    li = list(map(int, input().split()))
    print(sum(li))

2
1 4 6 8
19
1 4 6
11

In [ ]:
t = int(input())
for i in range(t):
    ballons_cost = input()

### Goki and his BreakUp

In [ ]:

N = int(input())#5
x = int(input())#100

for i in range(N):
    y = int(input())#100,110,130,90,100,45
    if y>=x:
        print("YES")
    else:
        print("NO")

* Your program is to use the brute-force approach in order to find the Answer to Life, the Universe, and Everything. More precisely... rewrite small numbers from input to output. Stop processing input after reading in the number 42. All numbers at input are integers of one or two digits.

In [1]:
while(1):
    N = int(input())
    if (N != 42):
        print (N)
    else:
        break

22
22
33
33
42

In [2]:
N = int(input())
for i in range(N,0, -1):
    print(i, end=" ")

6
6 5 4 3 2 1

In [4]:
#substring
s = "Mahesh"
#s2  = '2 5'
#"haMesh"
s2 = s.reverse(1,3)
print(s)

AttributeError: 'str' object has no attribute 'reverse'